{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form id="my-form">
        <input type="text" name="my-data" id="my-data" placeholder="Введите данные...">
        <button type="submit">Отправить</button>
      </form>
      


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>